*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 800px;
    width: 800px;
    background-color: black;
    position: relative;
    padding: 10px;
}

.box{
    height: 90px;
    width: 80px;
    background-color: blanchedalmond;
    position: absolute;
    left: 320px;
    top: 120px;
    transition: all 2s ease;
    cursor: pointer;
    transform: rotate(9deg);
    transform: scale(1);
    transform: skewX(18deg);
}

.box:hover{
     background-color: rgb(156, 30, 59);
     height: 150px;
     width: 150px;
}